.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color:#32ADE6;
    font-weight: bold;
    align-items: center;
    color: #FFFAF0;
    border-radius: 24px;
    border: 3px solid rgba(255, 255, 255, 0.50);
    background-blend-mode: overlay;
    box-shadow: 0 1.197px 29.915px 0 rgba(110, 193, 228, 0.10);
    backdrop-filter: blur(47.86407470703125px);
}


.introducao{
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 24px;
    font-style: normal;
    font-weight: normal;
    border: 3px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(86deg, rgba(255, 255, 255, 0.49) 11.14%, rgba(255, 255, 255, 0.05) 113.29%);
    background-blend-mode: overlay;
    box-shadow: 0 1.197px 29.915px 0 rgba(110, 193, 228, 0.10);
    backdrop-filter: blur(47.86407470703125px);
}

.tecnologias-lista{
    list-style-type: square;
    padding-left: 20px;
    padding: 8px;
    background-color: white;
    border-radius: 24px;
    margin: 20px;
    border: 3px solid rgba(255, 255, 255, 0.50);
    background: linear-gradient(86deg, rgba(255, 255, 255, 0.49) 11.14%, rgba(255, 255, 255, 0.05) 113.29%);
    background-blend-mode: overlay;
    box-shadow: 0 1.197px 29.915px 0 rgba(110, 193, 228, 0.10);
    backdrop-filter: blur(47.86407470703125px);
}

button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

body{
    background-color:#32ADE6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


